@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

h1, h2, h3{
  font-family: "Open Sans", sans-serif;
}

li, p {
  font-family: "Times New Roman", Times, serif;;
  font-size: 1em;
  font-weight: 200;
  letter-spacing: 1.1px;
  color: rgb(10,149,83);
}

div.map1 > li, div.takeaways > li  {
  padding-bottom: 4px;
}
